@model finalDeliverable.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bus.busID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.bookingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
