@model finalDeliverable.Models.Customer

@{
    ViewData["Title"] = "Create";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - del3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="~/css/sheet1.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<body>

    <div id="Content">
        <nav class="navbar navbar-light" style="background-color:black ;">
            <!-- Navbar content -->

            <ul class="content" id="Content1">
                <li class="active">@Html.ActionLink("Home", "Index", "Customers")</li>
                <li>@Html.ActionLink("About", "About", "Students")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Customers")</li>
                <li>@Html.ActionLink("Login", "loginTrigger", "Customers")</li>
                <li>@Html.ActionLink("Signup", "Create", "Customers")</li>
            </ul>

        </nav>
    </div>





















    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="passward" class="control-label"></label>
                    <input asp-for="passward" class="form-control" />
                    <span asp-validation-for="passward" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="gender" class="control-label"></label>
                    <input asp-for="gender" class="form-control" />
                    <span asp-validation-for="gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="age" class="control-label"></label>
                    <input asp-for="age" class="form-control" />
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }



</body>
</html>