@model IEnumerable<finalDeliverable.Models.Customer>

@{
    ViewData["Title"] = "Index";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - del3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="~/css/sheet1.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<body>

    <div id="Content">
        <nav class="navbar navbar-light" style="background-color:black ;">
            <!-- Navbar content -->

            <ul class="content" id="Content1">
                <li class="active">@Html.ActionLink("Home", "Index", "Customers")</li>
                <li>@Html.ActionLink("About", "About", "Students")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Customers")</li>
                <li>@Html.ActionLink("Login", "loginTrigger", "Customers")</li>
                <li>@Html.ActionLink("Signup", "Create", "Customers")</li>
            </ul>

        </nav>
    </div>



    <div class="row" id="firstRow">

        <div class="col-md-3">

        </div>

        <div class="col-md-5" id="title">
            <h1> ADDA</h1>
            <p> Your.<br />Travelling.<br />Companion</p>
        </div>


    </div>














</body>

</html>

